/* PAGINATION */

.pagination {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(46%);
    margin-bottom: 20px;
}

.pagination-btn {
    padding: 10px 16px;
    margin-left: 8px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--sub-color);
    border-radius: 5px;
}

.pagination-btn.active {
    background-color: var(--text-color);
    color: #fff;
}

.pagination-btn:hover {
    background-color: var(--text-color);
    color: #fff;
}

/* SAN PHAM CHI TIET */

.wrap__detail-product {
    background-color: #fff;
    padding-bottom: 30px;
}
.chi-tiet-sp {
    display: flex;
    gap: 30px;
}
.detail-product {
}

.detail-big {
}

.detail-img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #ebebeb;
}

.detail-small {
    margin-top: 30px;
}

.detail-small-img {
    width: 120px;
    object-fit: cover;
    border: 1px solid #ebebeb;
    margin-right: 10px;
}

.detail-small-img:hover {
    border: 1px solid var(--main-color);
}

.infor {
    flex: 2;
}

.infor-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.infor__price-box {
    padding: 5px 0;
    border-top: solid 1px #ebebeb;
}

.price-product {
    color: var(--text-color);
    font-size: 36px;
    line-height: 57px;
}

.price-sale {
    color: #9f9f9f;
    font-size: 20px;
    line-height: 32px;
    text-decoration: line-through;
    margin-left: 18px;
}

.price-summary {
    font-size: 14px;
    border-top: solid 1px #ebebeb;
    padding: 5px 0;
}

.price-summary__title {
    text-transform: uppercase;
    display: block;
}

.price-summary__des {
    display: block;
    font-style: italic;
    margin-top: 8px;
}

.price-form {
    border-top: solid 1px #ebebeb;
    padding: 15px 0;
}

.price-number {
    font-size: 16px;
}

.price-number-input {
    margin: 12px 0;
    display: flex;
}

.price-number-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: solid 1px #c69c6d;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.price-number-btn:hover {
    background-color: var(--text-color);
    color: #fff;
}

.price-number-quality {
    border: solid 1px #c69c6d;
    width: 80px;
    height: 40px;
    margin: 0 10px;
    outline: none;
    text-align: center;
}

.price-buy {
    padding: 15px 0;
    border-top: solid 1px #ebebeb;
}

.price-buy-btn {
    padding: 15px 20px;
    border: solid 1px #c69c6d;
    background-color: var(--text-color);
    color: #fff;
    transition: 0.2s ease;
    cursor: pointer;
    outline: none;
}

.price-buy-btn:hover {
    background-color: #fff;
    color: var(--text-color);
}

.price-buy-text {
    font-size: 14px;
    text-transform: uppercase;
}

.menu-tap {
    margin-top: 30px;
}

.product-tap {
}

.tab-list {
    display: flex;
    border-bottom: solid 1px #ebebeb;
    margin: 0;
    text-transform: uppercase;
}

.tab-item {
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
}

.tab-item.active {
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    border-top: solid 2px #c69c6d;
    border-bottom: solid 1px #fff;
}

.tab-content {
    display: none;
    width: 100%;
    padding: 20px;
    background: #fff;
    border: solid 1px #ebebeb;
    border-top: 0px;
}

.tab-content.active {
    display: block;
}

.tab-text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tab-text.not-mg {
    margin: 0;
}

.tab-text img {
    margin-left: 50%;
    transform: translateX(-50%);
}
